$mainColor: rgb(22, 32, 73);
$accentColor: rgb(100, 36, 35);

@mixin header-text($size: 1.7rem) {
    color: $accentColor;
    font-weight: bold;
    font-size: $size;
    font-variant-caps: small-caps;
}

@mixin section-header($offset: 0) {
    @include header-text;
    border-top: 1px solid rgba(22, 32, 73, 0.75);
    padding-left: $offset;
}

h3 {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(22, 32, 73);
}

h4 {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(22, 32, 73);
}

h5 {
    font-size: 0.95rem;
    color: rgb(22, 32, 73);
}

h6 {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    &:visited,
    &:link,
    &:hover,
    &:active,
    &[href^="mailto"] {
        color: rgb(15, 36, 62);
        cursor: pointer;
    }
}

.main-section {
    h2 {
        @include section-header;
    }
}

.main-content {
    padding-right: 0.8em;
    padding-bottom: 1.3rem;
}

.aside-section {
    h2 {
        @include section-header(1rem);
    }
    .aside-content {
        padding-bottom: 1rem;
        padding-left: 1rem;
    }
}

.list-with-bullets {
    padding-top: .05rem;
}

.list-with-bullets li {
    position: relative;
    display: block;
    padding-left: 0.6rem;
    font-size: 0.8rem;
}

.list-with-bullets li::before {
    content: "-";
    position: absolute;
    left: -0.1rem;
}

.with-floated-span {
    display: flex;
}

.with-floated-span span {
    text-align: right;
    flex-grow: 1;
}

@media screen and (max-width: 810px) {
    h2 {
        text-align: center;
        padding-left: 0;
    }

    .aside-section {
        border-left: none;
        padding-left: 0;
        h2 {
            border-left: none;
        }
    }
}

@media screen and (max-width: 480px) {
    .main-section,
    .aside-section {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}
